@model Department
@{
    ViewData["Title"] = "Add Department";
}

<h3 class="text-center mt-4">Add Department</h3>

<form method="post" class="container mt-4" style="max-width: 500px;">
    <div class="mb-3">
        <label class="form-label">Department Name</label>
        <input asp-for="DeptName" class="form-control" required />
    </div>
    <button type="submit" asp-for="Add" class="btn btn-primary w-100">Save</button>
</form>
